
<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>

<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default rbt-breadcrumb-style-3" *ngIf="LANDING_COURSE">
    <div class="breadcrumb-inner">
        <img src="assets/images/bg/bg-image-10.jpg" alt="Education Images">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="content text-start">
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active"></li>
                    </ul>
                    <h2 class="title">{{LANDING_COURSE.title}}</h2>
                    <p class="description">{{LANDING_COURSE.subtitle}}</p>

                    <div class="d-flex align-items-center mb--20 flex-wrap rbt-course-details-feature">

                        <div class="feature-sin best-seller-badge">
                            <span class="rbt-badge-2">
                                <span class="image"><img src="assets/images/icons/card-icon-1.png"
                                        alt="Best Seller Icon"></span> Mas vendido
                            </span>
                        </div>


                    </div>

                    <div class="rbt-author-meta mb--20">
                        <div class="rbt-avater">
                            <a href="#">
                                <img [src]="LANDING_COURSE.instructor.avatar" alt="Sophia Jaymes">
                            </a>
                        </div>
                        <div class="rbt-author-info">
                            By <a href="profile.html">{{LANDING_COURSE.instructor.full_name}}</a> In <a href="#">{{LANDING_COURSE.instructor.profesion}}</a>
                        </div>
                    </div>

                    <ul class="rbt-meta">
                        <li><i class="feather-calendar"></i>Ultima actualización{{LANDING_COURSE.update_at}}</li>
                       
                        <li><i class="feather-award"></i>Curso Certificado</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-course-details-area ptb--60" *ngIf="LANDING_COURSE">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-8">
                <div class="course-details-content">
                    <div class="rbt-course-feature-box rbt-shadow-box thuumbnail">
                        <img class="w-100" [src]="LANDING_COURSE.imagen" alt="Card image">
                    </div>

                    

                    <!-- Start Course Feature Box  -->
                    <div class="rbt-course-feature-box overview-wrapper rbt-shadow-box mt--30 has-show-more" id="overview">
                        <div class="rbt-course-feature-inner has-show-more-inner-content" [innerHtml]="LANDING_COURSE.description">
                            
                        </div>
                        <!--<div class="rbt-show-more-btn">Show More</div> -->
                    </div>
                    <!-- End Course Feature Box  -->

                    <!-- Start Course Content  -->
                    <div class="course-content rbt-shadow-box coursecontent-wrapper mt--30" id="coursecontent">
                        <div class="rbt-course-feature-inner">
                            <div class="section-title">
                                <h4 class="rbt-title-style-3">Course Content</h4>
                            </div>
                            <div class="rbt-accordion-style rbt-accordion-02 accordion">
                                <div class="accordion" id="accordionExampleb2">
                                    <ng-container *ngFor="let section of LANDING_COURSE.malla;let i=index" >

                                    <div class="accordion-item card">

                                        <h2 class="accordion-header card-header" id="headingTwo1">
                                            <button class="accordion-button" [ngClass]="{collapsed: i!=0}" type="button" data-bs-toggle="collapse "    [attr.data-bs-target]="'#collapseTwo'+section.id" aria-expanded="true" [attr.aria-controls]="'#collapseTwo'+section.id">
                                                {{section.name}}<span class="rbt-badge-5 ml--10">{{section.time_section}}</span>
                                            </button>
                                        </h2>
                                        <div [attr.id]="'collapseTwo'+section.id" class="accordion-collapse collapse" [ngClass]="{'show': i==0}" aria-labelledby="headingTwo1" data-bs-parent="#accordionExampleb2">
                                            <div class="accordion-body card-body pr--0">
                                                <ul class="rbt-course-main-content liststyle">

                                                    <ng-container *ngFor="let clase of section.clases" >
                                                        <li>
                                                            <a href="#">
                                                                <div class="course-content-left">
                                                                    <i class="feather-play-circle"></i> <span
                                                                        class="text">{{clase.name}}</span>
                                                                </div>
                                                                <div class="course-content-right">
                                                                    <span class="min-lable">{{clase.time_clase}}</span>
                                                                    <span class="rbt-badge variation-03 bg-primary-opacity"><i class="feather-eye"></i> Preview</span>
                                                                </div>
                                                            </a>
                                                        </li>

                                                    </ng-container>

    

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Course Content  -->

                    
                    <!-- Start Intructor Area  -->
                    <div class="rbt-instructor rbt-shadow-box intructor-wrapper mt--30" id="intructor">
                        <div class="about-author border-0 pb--0 pt--0">
                            <div class="section-title mb--30">
                                <h4 class="rbt-title-style-3">Instructor</h4>
                            </div>
                            <div class="media align-items-center">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img [src]="LANDING_COURSE.instructor.avatar" alt="Author Images">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="author-info">
                                        <h5 class="title">
                                            <a class="hover-flip-item-wrapper" href="author.html">{{LANDING_COURSE.instructor.full_name}}</a>
                                        </h5>
                                        <span class="b3 subtitle">{{LANDING_COURSE.instructor.profesion}}</span>
                                        
                                    </div>
                                    <div class="content">
                                        <p class="description">{{LANDING_COURSE.instructor.description}}</p>

                                        <ul class="social-icon social-default icon-naked justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="feather-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="feather-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="feather-instagram"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.linkdin.com/">
                                                    <i class="feather-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Intructor Area  -->

                    

                    
                </div>
                
            </div>

            <div class="col-lg-4">
                <div class="course-sidebar sticky-top rbt-shadow-box course-sidebar-top rbt-gradient-border">
                    <div class="inner">

                        <!-- Start Viedo Wrapper  -->
                        <a class="video-popup-with-text video-popup-wrapper text-center popup-video sidebar-video-hidden mb--15" href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                            <div class="video-content">
                                <img class="w-100 rbt-radius" src="assets/images/others/video-01.jpg" alt="Video Images">
                                <div class="position-to-top">
                                    <span class="rbt-btn rounded-player-2 with-animation">
                                        <span class="play-icon"></span>
                                    </span>
                                </div>
                                <span class="play-view-text d-block color-white"><i class="feather-eye"></i> Preview this course</span>
                            </div>
                        </a>
                        <!-- End Viedo Wrapper  -->

                        <div class="content-item-content">
                            <div class="rbt-price-wrapper d-flex flex-wrap align-items-center justify-content-between">
                                <div class="rbt-price">
                                    <span class="current-price">S/.{{LANDING_COURSE.precio_pen}}</span>
                                   
                                </div>
                               
                            </div>

                            <div class="add-to-card-button mt--15">
                                <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center" href="#" onclick="return false;" (click)="addCart()"> 
                                    <span class="btn-text">Agregar al carrito</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>

                            <div class="buy-now-btn mt--15">
                                <a class="rbt-btn btn-border icon-hover w-100 d-block text-center" href="#">
                                    <span class="btn-text">Buy Now</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>

                            <span class="subtitle"><i class="feather-rotate-ccw"></i> 30-Day Money-Back
                                Guarantee</span>


                            <div class="rbt-widget-details has-show-more">
                                <ul class="has-show-more-inner-content rbt-course-details-list-wrapper">
                                    <li><span>Start Date</span><span class="rbt-feature-value rbt-badge-5">5 Hrs 20 Min</span>
                                    </li>
                                    <li><span>Enrolled</span><span class="rbt-feature-value rbt-badge-5">100</span></li>
                                    <li><span>Lectures</span><span class="rbt-feature-value rbt-badge-5">50</span></li>
                                    <li><span>Skill Level</span><span class="rbt-feature-value rbt-badge-5">Basic</span></li>
                                    <li><span>Language</span><span class="rbt-feature-value rbt-badge-5">English</span></li>
                                    <li><span>Quizzes</span><span class="rbt-feature-value rbt-badge-5">10</span></li>
                                    <li><span>Certificate</span><span class="rbt-feature-value rbt-badge-5">Yes</span></li>
                                    <li><span>Pass Percentage</span><span class="rbt-feature-value rbt-badge-5">95%</span></li>
                                </ul>
                                <div class="rbt-show-more-btn">Show More</div>
                            </div>

                            <div class="social-share-wrapper mt--30 text-center">
                                <div class="rbt-post-share d-flex align-items-center justify-content-center">
                                    <ul class="social-icon social-default transparent-with-border justify-content-center">
                                        <li><a href="https://www.facebook.com/">
                                                <i class="feather-facebook"></i>
                                            </a>
                                        </li>
                                        <li><a href="https://www.twitter.com">
                                                <i class="feather-twitter"></i>
                                            </a>
                                        </li>
                                        <li><a href="https://www.instagram.com/">
                                                <i class="feather-instagram"></i>
                                            </a>
                                        </li>
                                        <li><a href="https://www.linkdin.com/">
                                                <i class="feather-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <hr class="mt--20">
                                <div class="contact-with-us text-center">
                                    <p>For details about the course</p>
                                    <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i class="feather-phone mr--5"></i> Call Us: <a href="#"><strong>+444 555 666 777</strong></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>

<div class="rbt-related-course-area bg-color-white pt--60 rbt-section-gapBottom">
    
</div>
