<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>
<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
</div>
<!-- Start Card Style -->
<div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Start Dashboard Top  -->
                <div class="rbt-dashboard-content-wrapper">
                    <div class="tutor-bg-photo  bg_image bg_image--23 height-350"></div>
                    <!-- Start Tutor Information  -->
                    <div class="rbt-tutor-information">
                        <div class="rbt-tutor-information-left">
                            <div class="thumbnail rbt-avatars size-lg">
                                <img src="assets/images/imagenes/user.png" alt="Instructor">
                            </div>
                            <div class="tutor-content">
                                <h5 class="title" *ngIf="user">{{user.name + ' '+ user.surname}}</h5>
                                <ul class="rbt-meta rbt-meta-white mt--5">
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="rbt-tutor-information-right">
                            <div class="tutor-btn">
                               
                            </div>
                        </div>
                    </div>
                    <!-- End Tutor Information  -->
                </div>
                <!-- End Dashboard Top  -->

                <div class="row g-5">
                    <div class="col-lg-3">
                        <!-- Start Dashboard Sidebar  -->
                        <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                            <div class="inner">
                                <div class="content-item-content">

                                    <div class="rbt-default-sidebar-wrapper">
                                        <div class="section-title mb--20">
                                            <h6 class="rbt-title-style-2" *ngIf="user">Bienvenido, {{user.name + ' '+ user.surname}}</h6>
                                        </div>
                                        <nav class="mainmenu-nav">
                                            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                <li><a href="#" onclick="return false" (click)="navOption(1)"[ngClass]="{active: nav_option == 1}"><i class="feather-home"></i><span>Resumen</span></a></li>
                                              
                                                <li><a href="#" onclick="return false" (click)="navOption(2)"[ngClass]="{active: nav_option == 2}"><i class="feather-book-open"></i><span>Cursos </span></a></li>
                                              
                                            </ul>
                                        </nav>

                                        <div class="section-title mt--40 mb--20">
                                            <h6 class="rbt-title-style-2">Opciones</h6>
                                        </div>

                                        <nav class="mainmenu-nav">
                                            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                
                                                <li><a href="#"  onclick="return false" (click)="logout()"><i class="feather-log-out"></i><span>Salir</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End Dashboard Sidebar  -->
                    </div>

                    <div class="col-lg-9">
                        <div class="rbt-dashboard-content bg-color-white rbt-shadow-box mb--60" *ngIf="nav_option==1">
                            <div class="content">
                                <div class="section-title">
                                    <h4 class="rbt-title-style-3">Resumen</h4>
                                </div>
                                <div class="row g-5">

                                    <!-- Start Single Card  -->
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-primary-opacity">
                                            <div class="inner">
                                                <div class="rbt-round-icon bg-primary-opacity">
                                                    <i class="feather-book-open"></i>
                                                </div>
                                                <div class="content">
                                                    <h3 class="counter without-icon color-primary"><span class="odometer" data-count="30">{{enrolled_course_count}}</span>
                                                    </h3>
                                                    <span class="rbt-title-style-2 d-block">Cursos inscritos</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->

                                    <!-- Start Single Card  -->
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-secondary-opacity">
                                            <div class="inner">
                                                <div class="rbt-round-icon bg-secondary-opacity">
                                                    <i class="feather-monitor"></i>
                                                </div>
                                                <div class="content">
                                                    <h3 class="counter without-icon color-secondary"><span class="odometer" data-count="10">{{active_course_count}}</span>
                                                    </h3>
                                                    <span class="rbt-title-style-2 d-block">Cursos Activos</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End Single Card  -->

                                    <!-- Start Single Card  -->
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-violet-opacity">
                                            <div class="inner">
                                                <div class="rbt-round-icon bg-violet-opacity">
                                                    <i class="feather-award"></i>
                                                </div>
                                                <div class="content">
                                                    <h3 class="counter without-icon color-violet"><span class="odometer" data-count="7">{{termined_course_count}}</span>
                                                    </h3>
                                                    <span class="rbt-title-style-2 d-block">Cursos Completados</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->

                                </div>
                            </div>
                        </div>
                            <div class="content">
                                <!-- Start Enrole Course  -->
                            <div class="rbt-dashboard-content bg-color-white rbt-shadow-box" *ngIf="nav_option==2">
                                <div class="content">

                                    <div class="section-title">
                                        <h4 class="rbt-title-style-3">Resumen de cursos</h4>
                                    </div>

                                    <div class="advance-tab-button mb--30">
                                        <ul class="nav nav-tabs tab-button-style-2 justify-content-start" id="myTab-4" role="tablist">
                                            <li role="presentation">
                                                <a href="#" class="tab-button active" id="home-tab-4" data-bs-toggle="tab" data-bs-target="#home-4" role="tab" aria-controls="home-4" aria-selected="true">
                                                    <span class="title">Cursos inscritos</span>
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#" class="tab-button" id="profile-tab-4" data-bs-toggle="tab" data-bs-target="#profile-4" role="tab" aria-controls="profile-4" aria-selected="false">
                                                    <span class="title">Cursos activos</span>
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#" class="tab-button" id="contact-tab-4" data-bs-toggle="tab" data-bs-target="#contact-4" role="tab" aria-controls="contact-4" aria-selected="false">
                                                    <span class="title">Cursos Completados</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="home-4" role="tabpanel" aria-labelledby="home-tab-4">
                                            <div class="row g-5">
                                                <ng-container *ngFor="let enrolled_course of enrolled_courses">
                                                    <!-- Start Single Course  -->
                                                    <div class="col-lg-4 col-md-6 col-12">
                                                        <div class="rbt-card variation-01 rbt-hover">
                                                            <div class="rbt-card-img">
                                                                <a [href]="'/landing-curso/'+enrolled_course.course.slug">
                                                                    <img [src]="enrolled_course.course.imagen" alt="Card image">
                                                                </a>
                                                            </div>
                                                            <div class="rbt-card-body">
                                                                <div class="rbt-card-top">
                                                                    
                                                                    <div class="rbt-bookmark-btn">
                                                                        <a class="rbt-round-btn" title="Bookmark" href="#"><i class="feather-bookmark"></i></a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="rbt-card-title"><a [href]="'/landing-curso/'+enrolled_course.course.slug">{{ enrolled_course.course.title }}</a>
                                                                </h4>
                                                                <ul class="rbt-meta">
                                                                    <li><i class="feather-book"></i>{{ enrolled_course.course.count_class }} Lessons</li>
                                                                   
                                                                </ul>
       
                                                                <div class="rbt-progress-style-1 mb--20 mt--10">
                                                                    <div class="single-progress">
                                                                        <h6 class="rbt-title-style-2 mb--10" *ngIf="enrolled_course.state == 2">Curso Completado</h6>
                                                                        <h6 class="rbt-title-style-2 mb--10" *ngIf="enrolled_course.state == 1">En proceso</h6>
                                                                        <div class="progress">
                                                                            <div class="progress-bar wow fadeInLeft bar-color-success" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" [ngStyle]="{'width': enrolled_course.percentage+'%'}" style="width: 90%" [attr.aria-valuenow]="enrolled_course.percentage" aria-valuemin="0" aria-valuemax="100">
                                                                            </div>
                                                                            <span class="rbt-title-style-2 progress-number">{{ enrolled_course.percentage }}%</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="rbt-card-bottom">
                                                                  <!--  <a class="rbt-btn btn-sm bg-primary-opacity w-100 text-center" href="#">Download Certificate</a>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Single Course  -->
                                                </ng-container>
    
    
    
                                                <!-- Start Single Course  -->
                                                <!-- End Single Course  -->

                                              
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="profile-4" role="tabpanel" aria-labelledby="profile-tab-4">
                                            <div class="row g-5">

                                                <ng-container *ngFor="let enrolled_course of active_courses">
                                                    <!-- Start Single Course  -->
                                                    <div class="col-lg-4 col-md-6 col-12">
                                                        <div class="rbt-card variation-01 rbt-hover">
                                                            <div class="rbt-card-img">
                                                                <a [href]="'/landing-curso/'+enrolled_course.course.slug">
                                                                    <img [src]="enrolled_course.course.imagen" alt="Card image">
                                                                </a>
                                                            </div>
                                                            <div class="rbt-card-body">
                                                                <div class="rbt-card-top">
                                                                    
                                                                    <div class="rbt-bookmark-btn">
                                                                        <a class="rbt-round-btn" title="Bookmark" href="#"><i class="feather-bookmark"></i></a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="rbt-card-title"><a [href]="'/landing-curso/'+enrolled_course.course.slug">{{ enrolled_course.course.title }}</a>
                                                                </h4>
                                                                <ul class="rbt-meta">
                                                                    <li><i class="feather-book"></i>{{ enrolled_course.course.count_class }} Lecciones</li>
                                                                   
                                                                </ul>
       
                                                                <div class="rbt-progress-style-1 mb--20 mt--10">
                                                                    <div class="single-progress">
                                                                        <h6 class="rbt-title-style-2 mb--10" *ngIf="enrolled_course.state == 2">Curso Completado</h6>
                                                                        <h6 class="rbt-title-style-2 mb--10" *ngIf="enrolled_course.state == 1">En proceso</h6>
                                                                        <div class="progress">
                                                                            <div class="progress-bar wow fadeInLeft bar-color-success" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" [ngStyle]="{'width': enrolled_course.percentage+'%'}" [attr.aria-valuenow]="enrolled_course.percentage" aria-valuemin="0" aria-valuemax="100">
                                                                            </div>
                                                                            <span class="rbt-title-style-2 progress-number">{{ enrolled_course.percentage }}%</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="rbt-card-bottom">
                                                                  <!--  <a class="rbt-btn btn-sm bg-primary-opacity w-100 text-center" href="#">Download Certificate</a>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Single Course  -->
                                                </ng-container>

                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="contact-4" role="tabpanel" aria-labelledby="contact-tab-4">
                                            <div class="row g-5">
                                                <ng-container *ngFor="let enrolled_course of termined_courses">
                                                    <!-- Start Single Course  -->
                                                    <div class="col-lg-4 col-md-6 col-12">
                                                        <div class="rbt-card variation-01 rbt-hover">
                                                            <div class="rbt-card-img">
                                                                <a [href]="'/landing-curso/'+enrolled_course.course.slug">
                                                                    <img [src]="enrolled_course.course.imagen" alt="Card image">
                                                                </a>
                                                            </div>
                                                            <div class="rbt-card-body">
                                                                <div class="rbt-card-top">
                                                                    
                                                                    <div class="rbt-bookmark-btn">
                                                                        <a class="rbt-round-btn" title="Bookmark" href="#"><i class="feather-bookmark"></i></a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="rbt-card-title"><a [href]="'/landing-curso/'+enrolled_course.course.slug">{{ enrolled_course.course.title }}</a>
                                                                </h4>
                                                                <ul class="rbt-meta">
                                                                    <li><i class="feather-book"></i>{{ enrolled_course.course.count_class }} Lessons</li>
                                                                   
                                                                </ul>
       
                                                                <div class="rbt-progress-style-1 mb--20 mt--10">
                                                                    <div class="single-progress">
                                                                        <h6 class="rbt-title-style-2 mb--10" *ngIf="enrolled_course.state == 2">Curso Completado</h6>
                                                                        <h6 class="rbt-title-style-2 mb--10" *ngIf="enrolled_course.state == 1">En proceso</h6>
                                                                        <div class="progress">
                                                                            <div class="progress-bar wow fadeInLeft bar-color-success" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" [ngStyle]="{'width': enrolled_course.percentage+'%'}" [attr.aria-valuenow]="enrolled_course.percentage" aria-valuemin="0" aria-valuemax="100">
                                                                            </div>
                                                                            <span class="rbt-title-style-2 progress-number">{{ enrolled_course.percentage }}%</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="rbt-card-bottom">
                                                                  <!--  <a class="rbt-btn btn-sm bg-primary-opacity w-100 text-center" href="#">Download Certificate</a>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Single Course  -->
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End Enrole Course  -->

                           

                         <!-- Start Instructor Profile  -->
                         
                        <!-- End Instructor Profile  -->

                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Card Style -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>